.add-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: @bgcolor--add-plan;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
  margin-bottom: -30px;
  padding-bottom: 55px;
}

.add-plan__wrapper {
  .container;
}

.add-plan__header {
  font-family: @default-font;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: @txtcolor--directions;
}

.add-plan__step-markers {
  display: flex;
  position: relative;
  top: -35px;
  left: 220px;
}

.add-plan__marker-label {
  margin-right: 15px;
  font-size: 0;
  opacity: 0.3;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: @color-toggle--addplan-active;
  }

  &--active {
    opacity: 1;
  }
}

.add-plan__list {
  .list-reset;
  counter-reset: myCounter;
}

.add-plan__item {
  padding: 20px;
  counter-increment: myCounter;
  display: flex;
  flex-direction: column;
  background-color: @bgcolor--myplans-item;
  margin-bottom: 10px;
  border-radius: 10px;

  &::before {
    content: "Шаг " counter(myCounter) ".";
    font-family: @default-font;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: @txtcolor--directions;
  }
}

.add-plan__item-header {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: @txtcolor--directions;
  margin-bottom: 15px;
}

.add-plan__item-description {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: @txtcolor--invert-description;
  margin-bottom: 15px;
}

.add-plan__counter-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-plan__counter-header {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-align: left;
  color: @txtcolor--directions;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.add-plan__counter-unit {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-align: right;
  color: @txtcolor--unit;
  text-transform: uppercase;
}

.add-plan__counter-input {
  width: 220px;
  height: 43px;
  border-radius: 4px;
  border: solid 1px @color-border--input;
  font-family: @default-font;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 1.5px;
  text-align: center;
  color: @txtcolor--directions;
}

.add-plan__counter-minus {
  position: relative;
  top: -35px;
  left: 15px;
  font-size: 0;
  border: none;
  width: 14px;
  height: 2px;
  opacity: 0.3;
  background-image: url("../img/qty-minus-mobile.svg");
}

.add-plan__counter-plus {
  position: relative;
  top: -35px;
  left: 170px;
  font-size: 0;
  border: none;
  width: 14px;
  height: 14px;
  opacity: 0.3;
  background-color: inherit;
  background-image: url("../img/qty-plus-mobile.svg");
}

.add-plan__counter-checkbox {
  display: none;

  &:checked ~ label::after {
    position: relative;
    top: 0;
    right: 131px;
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
  }
}

.add-plan__checkbox-label {
  display: flex;
  align-items: center;
  font-family: @default-font;
  font-size: 15px;
  text-align: left;
  color: @txtcolor--invert-description;

  &::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    margin-right: 13px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: solid 1px @color-border--input;
  }
}

.add-plan__choose-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @color-border--input;
  border-bottom: 1px solid @color-border--input;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.add-plan__arrow-prev {
  font-size: 0;
  border: none;
  width: 9px;
  height: 17px;
  opacity: 0.3;
  background-color: inherit;
  background-image: url("../img/month-arrow-left.svg");
  background-repeat: no-repeat;
}

.add-plan__month {
  font-family: @default-font;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: @txtcolor--directions;
}

.add-plan__arrow-next {
  font-size: 0;
  border: none;
  width: 9px;
  height: 17px;
  opacity: 0.3;
  background-color: inherit;
  background-image: url("../img/month-arrow-right.svg");
  background-repeat: no-repeat;
}

.add-plan__week {
  .list-reset;
  display: flex;
  justify-content: center;
}

.add-plan__weekday {
  font-family: @default-font;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: @txtcolor--invert-description;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &--weekend {
    color: @txtcolor--weekend;
  }
}

.add-plan__weekday-letter {
  display: none;
}

.add-plan__date-list {
  .list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.add-plan__date {
  display: none;
}

.add-plan__date-label {
  color: @txtcolor--invert-description;
  background-color: @bgcolor--date;

  &--active .add-plan__datetime {
    border-color: @color-border--active-date;
  }

  &--checked {
    color: @txtcolor--base;
    background-color: @bgcolor--date-active;
  }

  &--disable {
    color: @txtcolor--disabled-date;
    background-color: @bgcolor--date-disabled;
  }
}

.add-plan__datetime {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: solid 1px @color-border--input;
  background-color: inherit;
  font-family: @default-font;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
}

.add-plan__letter-list {
  .list-reset;
  display: flex;
  flex-wrap: wrap;
}

.add-plan__itinerary-list {
  .list-reset;
}

.add-plan__itinerary-item {
  display: flex;
  flex-wrap: wrap;
}

.add-plan__select-country {
  width: 168px;
  height: 42px;
  border-radius: 4px;
  border: solid 1px @color-border--input;
  font-family: @default-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: left;
  color: @txtcolor--directions;
  text-transform: uppercase;

  &--select {
    width: 220px;
  }
}

.add-plan__flag {
  padding: 9px;
  width: 53px;
  height: 42px;
  border-radius: 4px;
  border: solid 1px @color-border--input;
}

.add-plan__delete-country {
  width: 21px;
  height: 21px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: @bgcolor--close;
}

.add-plan__add-itinerary {
  width: 220px;
  height: 42px;
  border-radius: 4px;
  border: none;
  font-family: @default-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: left;
  color: @txtcolor--directions;
  text-transform: uppercase;
}

.add-plan__buttons-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-plan__button {
  width: 230px;
  min-height: 40px;
  margin-top: 20px;

  &--prev {
    align-self: center;
    background-color: transparent;
  }

  &--submit {
    border: none;
  }
}

.add-plan__letter-button {
  width: 45px;
  height: 42px;
  border: solid 1px @color-border--input;
  background-color: @bgcolor--myplans-item;
  font-family: @default-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: center;
  color: @txtcolor--directions;

  &--active {
    background-color: @bgcolor--input-active;
  }
}

.add-plan__country-list {
  .list-reset;
  width: 220px;
  box-shadow: 0 20px 50px 0 @color-shadow--input;
  border: solid 1px @color-border--input;
}

.add-plan__country-link {
  font-family: @default-font;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: @txtcolor--invert-description;
}

.add-plan__funs-country {
  font-family: @default-font;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: @txtcolor--directions;
}

.add-plan__funs-text {
  width: 220px;
  min-height: 220px;
  border-radius: 4px;
  border: solid 1px @color-border--input;
  font-family: @default-font;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: @txtcolor--invert-description;
  outline: none;
  resize: none;
  overflow: auto;
}

@media (min-width: @tablet-width) {
  .add-plan {
    padding: 30px;
    padding-bottom: 90px;
  }

  .add-plan__header {
    font-size: 36px;
    line-height: 1.39;
  }

  .add-plan__step-markers {
    top: -60px;
    left: 540px;
  }

  .add-plan__marker-label {
    margin-right: 30px;
  }

  .add-plan__item {
    width: 618px;
    padding: 45px;
    margin-bottom: 40px;
    border-radius: 30px;

    &::before {
      font-size: 36px;
    }
  }

  .add-plan__item-header {
    font-size: 36px;
    margin-bottom: 35px;
  }

  .add-plan__item-description {
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 30px;
    padding-right: 30px;
    width: 532px;

    &--itinerary {
      padding-right: 120px;
    }
  }

  .add-plan__block {
    &--duration {
      order: 2;
      margin-top: 25px;
    }
  }

  .add-plan__counter-label {
    padding-top: 25px;
    border-top: 1px solid @bgcolor--add-plan;
  }

  .add-plan__counter-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 25px;
  }

  .add-plan__counter-unit {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .add-plan__counter-input {
    width: 531px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .add-plan__counter-minus {
    top: -50px;
    left: 23px;
    border: none;
    width: 20px;
    background-image: url("../img/qty-minus.svg");
  }

  .add-plan__counter-plus {
    top: -50px;
    left: 470px;
    width: 20px;
    height: 20px;
    background-image: url("../img/qty-plus.svg");
  }

  .add-plan__counter-checkbox {
    &:checked ~ label::after {
      position: relative;
      top: 0;
      right: 222px;
      width: 12px;
      height: 12px;
    }
  }

  .add-plan__checkbox-label {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    text-transform: uppercase;

    &::before {
      width: 36px;
      height: 36px;
    }
  }

  .add-plan__choose-date {
    order: 2;
  }

  .add-plan__choose-month {
    height: 85px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
  }

  .add-plan__arrow-prev {
    width: 15px;
    height: 28px;
  }

  .add-plan__month {
    font-size: 36px;
  }

  .add-plan__arrow-next {
    width: 15px;
    height: 28px;
  }

  .add-plan__week {
    width: 539px;
  }

  .add-plan__weekday {
    align-items: flex-end;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.8px;
    width: 77px;
    height: 30px;
  }

  .add-plan__weekday-letter {
    display: inline;
  }

  .add-plan__date-list {
    width: 539px;
  }

  .add-plan__date-label {
    &--active .add-plan__datetime {
      border-width: 4px;
      border-radius: 2px;
    }
  }

  .add-plan__datetime {
    width: 77px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .add-plan__itinerary-list {
    position: relative;
    padding-top: 40px;
    border-top: solid 1px @color-border--input;

    &::before {
      position: absolute;
      top: 0;
      right: 135px;
      content: "";
      display: block;
      width: 1px;
      height: 450px;
      background-color: @color-border--input;
    }
  }

  .add-plan__itinerary-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .add-plan__select-country {
    width: 369px;
    height: 70px;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-right: 50px;
  }

  .add-plan__flag {
    padding: 0;
    width: 70px;
    height: 47px;
    border: none;
  }

  .add-plan__delete-country {
    width: 17px;
    height: 17px;
    border-radius: 0;
    background-color: transparent;
  }

  .add-plan__add-itinerary {
    width: 369px;
    height: 70px;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .add-plan__buttons-block {
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
  }

  .add-plan__button {
    order: 2;
    width: 285px;
    min-height: 81px;
    border-radius: 20px;
    font-size: 24px;
    text-transform: none;
    margin-top: 0;

    &--prev {
      order: 2;
      font-size: 24px;
      text-transform: none;
    }
  }

  .add-plan__funs-country {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.6;
    margin-bottom: 50px;
  }

  .add-plan__funs-text {
    padding: 20px;
    width: 499px;
    min-height: 142px;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 35px;
  }
}

@media (min-width: @desktop-width) {
  .add-plan {
    position: relative;
  }

  .add-plan__header {
    padding-left: 50px;
    padding-bottom: 30px;
  }

  .add-plan__step-markers {
    position: absolute;
    flex-direction: column;
    top: 290px;
    left: 1050px;
  }

  .add-plan__marker-label {
    margin-bottom: 25px;
    font-family: @default-font;
    font-size: 20px;
    line-height: 0.69;
    letter-spacing: 2px;
    text-align: left;
    color: @txtcolor-desktop--marker;
    text-transform: uppercase;

    &::before {
      position: relative;
      top: 10px;
      right: 40px;
    }
  }

  .add-plan__item {
    width: 1320px;
    padding: 60px 160px;
    margin-bottom: 40px;
    border-radius: 30px;

    &::before {
      position: relative;
      top: 36px;
      left: 0;
    }
  }

  .add-plan__item-header {
    padding-left: 115px;
  }

  .add-plan__item-description {
    width: 610px;

    &--itinerary {
      padding-right: 120px;
    }
  }

  .add-plan__block {
    position: relative;
    display: flex;
    width: 520px;
  }

  .add-plan__counter-unit {
    color: @txtcolor--directions;
  }

  .add-plan__counter-input {
    position: absolute;
    top: 0;
    left: 220px;
    width: 181px;
  }

  .add-plan__counter-minus {
    top: -50px;
    left: 23px;
  }

  .add-plan__counter-plus {
    top: -50px;
    left: 470px;
  }

  .add-plan__counter-checkbox {
    &:checked ~ label::after {
      position: relative;
      top: 0;
      right: 222px;
      width: 12px;
      height: 12px;
    }
  }

  .add-plan__checkbox-label {
    order: 2;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    text-transform: uppercase;

    &::before {
      width: 36px;
      height: 36px;
    }
  }

  .add-plan__choose-date {
    order: 2;
  }

  .add-plan__choose-month {
    height: 85px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
  }

  .add-plan__arrow-prev {
    width: 15px;
    height: 28px;
  }

  .add-plan__month {
    font-size: 36px;
  }

  .add-plan__arrow-next {
    width: 15px;
    height: 28px;
  }

  .add-plan__week {
    width: 539px;
  }

  .add-plan__weekday {
    align-items: flex-end;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.8px;
    width: 77px;
    height: 30px;
  }

  .add-plan__weekday-letter {
    display: inline;
  }

  .add-plan__date-list {
    width: 539px;
  }

  .add-plan__date-label {
    &--active .add-plan__datetime {
      border-width: 4px;
      border-radius: 2px;
    }
  }

  .add-plan__datetime {
    width: 77px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .add-plan__itinerary-list {
    position: relative;
    padding-top: 40px;
    border-top: solid 1px @color-border--input;

    &::before {
      position: absolute;
      top: 0;
      right: 135px;
      content: "";
      display: block;
      width: 1px;
      height: 450px;
      background-color: @color-border--input;
    }
  }

  .add-plan__itinerary-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .add-plan__select-country {
    width: 369px;
    height: 70px;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-right: 50px;
  }

  .add-plan__flag {
    padding: 0;
    width: 70px;
    height: 47px;
    border: none;
  }

  .add-plan__delete-country {
    width: 17px;
    height: 17px;
    border-radius: 0;
    background-color: transparent;
  }

  .add-plan__add-itinerary {
    width: 369px;
    height: 70px;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .add-plan__buttons-block {
    order: 2;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
  }

  .add-plan__button {
    order: 2;
    width: 285px;
    min-height: 81px;
    border-radius: 20px;
    font-size: 24px;
    text-transform: none;
    margin-top: 0;

    &--prev {
      order: 2;
      font-size: 24px;
      text-transform: none;
    }
  }

  .add-plan__funs-country {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.6;
    margin-bottom: 50px;
  }

  .add-plan__funs-text {
    padding: 20px;
    width: 499px;
    min-height: 142px;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 35px;
  }
}
