.catalog-companions__list {
.list-reset;
}

.catalog-companions__item {
  width: 270px;
  height: 415px;
  margin-bottom: 10px;

  .user-card__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .user-card__button {
    width: 230px;
    min-height: 40px;
  }
}
