.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @bgcolor--contact-us;
  border-radius: 25px;

  .contact__link {
    color: @txtcolor--special;
  }

  .contact__icon {
    background-color: @bgcolor--invert-icon;
  }
}

.contact-us__header {
  font-family: @default-font;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: @txtcolor--header;
}

.contact-us__description {
  width: 200px;
  font-family: @default-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: @txtcolor--description;
}

.contact-us__email {
  border: none;
  width: 270px;
  height: 62px;
  border-radius: 10px;
  background-color: @bgcolor--input;
}

.contact-us__button {
  border: none;
  font-size: 0;
  width: 60px;
  height: 62px;
  border-radius: 10px;
}

.contacts-us__authorization-link {
  color: @txtcolor--special;
  text-decoration: underline;
}
