.myplans {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: @bgcolor--myplans;
  border-radius: 30px 30px 0 0;
  padding-bottom: 50px;
}

.myplans__wrapper {
  .container;
}

.myplans__header {
  font-family: @default-font;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: @txtcolor--section-header;
}

.myplans__list {
  .list-reset;
  counter-reset: myCounter;
}

.myplans__item {
  padding: 20px;
  counter-increment: myCounter;
  display: flex;
  flex-direction: column;
  background-color: @bgcolor--myplans-item;
  margin-bottom: 10px;
  border-radius: 10px;
}

.myplans__countries {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: @txtcolor--directions;
  margin-bottom: 20px;

  &::before {
    content: counter(myCounter) ".";
    font-family: @default-font;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-align: left;
    color: @txtcolor--directions;
  }
}

.myplans__tripper-count {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-align: left;
  color: @txtcolor--directions;
  text-transform: uppercase;
}

.myplans__time {
  font-family: @default-font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-align: left;
  color: @txtcolor--directions;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.myplans__change {
  font-family: @default-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: left;
  color: @txtcolor--change-button;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .myplans {
    border-radius: 30px 30px 0 0;
    padding: 30px;
    padding-bottom: 100px;
  }

  .myplans__header {
    font-size: 36px;
    line-height: 1.39;
  }

  .myplans__item {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .myplans__countries {
    position: relative;
    width: 100%;
    padding: 20px 35px;
    font-size: 24px;
    line-height: 2.08;
    margin-bottom: 0;
    border-bottom: 1px solid @bgcolor--myplans;

    &::before {
      position: absolute;
      top: 35px;
      left: 575px;
      font-size: 20px;
      font-weight: 500;
      line-height: 0.9;
      letter-spacing: 2px;
    }
  }

  .myplans__tripper-count {
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .myplans__time {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  .myplans__change {
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

@media (min-width: @desktop-width) {

}
