.navigation-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 27px 25px;
  min-height: 568px;

  &__logo {
    align-self: flex-start;
  }
}
