.page-header {
  display: flex;
  justify-content: space-between;
  padding: 27px 25px;
}

.page-header__nav-toggle {
  display: block;
  font-size: 0;
  width: 25px;
  height: 11px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}
