.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  &--pages {
    background-color: @bgcolor--main-pages;
  }
}

.page-main__header {
  font-family: @default-font;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: @txtcolor--main-header;

  &--pages {
    align-self: flex-start;

    &::after {
      content: "";
      display: block;
      width: auto;
      height: 5px;
      border-radius: 2.4px;
      background-color: @color-line--header-pages;
    }
  }
}
