.profile {
  position: relative;
  .container;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__user-block {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 20px;
}

.profile__level {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border: solid 3px @color-circle--level;
  border-radius: 50%;

  &::before {
    content: "";
    position: relative;
    top: 55px;
    left: 23px;
    display: block;
    width: 49px;
    height: 2px;
    background-color: @color-line--invert-level;
  }
}

.profile__level-count {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: @txtcolor--invert;
  margin-top: 15px;
}

.profile__level-text {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: @txtcolor--invert;
  margin-top: 3px;
}

.profile__image {
  width: 99px;
  height: 100px;
  border-radius: 50%;
}

.profile__image-button {
  min-height: 40px;
  background-color: @bgcolor--image-button;
  margin-bottom: 15px;
}

.profile__fieldset {
  width: 270px;
  border-radius: 10px;
  border: solid 1px @color-border--input;
}

.profile__fieldset-header {
  text-transform: uppercase;
  font-family: @default-font;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-align: center;
  color: @txtcolor--name;
  border: 15px solid transparent;
  border-bottom: none;
}

.profile__tags-area {
  border: none;
  background-color: inherit;
  width: 220px;
  outline: none;
  resize: none;
  overflow: auto;
  font-family: @default-font;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: @txtcolor--invert-description;
}

.profile__transport-list {
  .list-reset;
  display: flex;
  font-size: 0;
  justify-content: center;
}

.profile__transport-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: @bgcolor--transport;
  border-radius: 50%;
}

.profile__transport-checkbox {
  display: none;

  &:checked~label {
    opacity: 1;
  }
}

.profile__transport-label {
  display: block;
  min-width: 13px;
  height: 16px;
  background-repeat: no-repeat;
  opacity: 15%;

  &--active {
    opacity: 100%;
  }

  &--air {
    width: 14px;
    background-image: url("../img/plane.svg");
  }

  &--bus {
    background-image: url("../img/bus.svg");
  }

  &--bike {
    width: 19px;
    background-image: url("../img/bike.svg");
  }

  &--run {
    width: 15px;
    background-image: url("../img/run.svg");
  }
}

@media (min-width: @tablet-width) {
  .profile {
    padding-bottom: 40px;
  }

  .profile__user-block {
    padding: 50px 40px;
  }

  .profile__image {
    border-radius: 10px;
  }

  .profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__fieldset {
    width: 618px;
    transform: rotate(180deg);

    &--transport {
      width: 308px;
      position: absolute;
      top: 60px;
      padding-bottom: 20px;
    }
  }

  .profile__fieldset-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    border: 15px solid transparent;
    transform: rotate(180deg);
  }

  .profile__tags-area {
    width: 100%;
    font-size: 20px;
    line-height: 1.2;
    padding: 15px 30px;
    padding-bottom: 0;
    transform: rotate(180deg);
  }

  .profile__image-button {
    width: 618px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  .profile__transport-list {
    transform: rotate(180deg);
  }

  .profile__transport-item {
    width: 43px;
    height: 43px;
  }

  .profile__transport-label {
    height: 21px;

    &--air {
      width: 19px;
    }

    &--bus {
      width: 17px;
    }

    &--bike {
      width: 24px;
    }

    &--run {
      width: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .profile__user-block {
    position: absolute;
    top: -190px;
    right: 165px;
    padding: 0;
    width: 330px;
    align-items: center;
  }

  .profile__level {
    &::before {
      opacity: 0.3;
    }
  }

  .profile__level-count {
    color: @txtcolor--base;
  }

  .profile__level-text {
    color: @txtcolor--base;
  }

  .profile__image {
    width: 190px;
    height: 190px;
    border-radius: 10px 10px 0 0;
  }

  .profile__form {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile__fieldset {
    width: 730px;

    &--transport {
      width: 384px;
      position: relative;
      top: 0;
      padding-bottom: 25px;
    }
  }

  .profile__fieldset-header {
    text-align: right;

    &--transport {
      text-align: center;
    }
  }

  .profile__tags-area {
    padding: 0;
  }

  .profile__image-button {
    position: relative;
    left: 460px;
    width: 190px;
    height: 47px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 25px;
  }

  .profile__image-show {
    display: none;
  }
}
