.service {
  font-family: @default-font;
  color: @txtcolor--description;
  background-image: url("../img/about-mobile@1x.png");
  border-radius: 0 0 30px 30px;
  background-color: @bgcolor--service;
}

.service__header {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: @txtcolor--header;
}

.service__description {
  width: 236px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  text-align: left;

  &--accent {
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    text-align: left;
  }
}
