.social {
  display: flex;
  justify-content: space-between;
  min-width: 145px;
  height: 21px;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  font-size: 0;

  &--vkontakte {
    display: block;
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
    min-width: 23px;
    min-height: 12px;
  }

  &--facebook {
    display: block;
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    min-width: 11px;
    min-height: 21px;
  }

  &--instagram {
    display: block;
    background-image: url("../img/instagram.svg");
    background-repeat: no-repeat;
    min-width: 18px;
    min-height: 18px;
  }
}
