.user-menu {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(transparent 50%, @bgcolor--page-header 50%);

  &--pages {
    display: none;
  }
}

.user-menu__list {
  .list-reset;
  display: flex;
  z-index: 1;
}

.user-menu__item {
  display: flex;
  align-items: center;
}

.user-menu__link {
  font-size: 0;
}

.user-menu__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  &--tel {
    background-color: @bgcolor--icon-tel;
  }

  &--email {
    background-color: @bgcolor--icon-email;
  }

  &--tel::before {
    content: "";
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    top: 12px;
    left: 12px;
    background-image: url("../img/topmenu-phone.svg");
    background-repeat: no-repeat;
  }

  &--email::before {
    content: "";
    position: relative;
    display: block;
    width: 18px;
    height: 14px;
    top: 14px;
    left: 11px;
    background-image: url("../img/topmenu-mail.svg");
    background-repeat: no-repeat;
  }
}

.user-menu__button {
  width: 189px;
  min-height: 40px;
}

@media (min-width: @tablet-width) {
  .user-menu {
    position: absolute;
    top: -50px;
    right: 30px;
    z-index: 1;
    justify-content: flex-end;
    background-image: none;

    &--pages {
      display: flex;
    }
  }

  .user-menu__icon {
    display: none;
  }

  .user-menu__button {
    font-size: 20px;
    width: 188px;
    min-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .user-menu {
    right: 60px;
  }

  .user-menu__icon {
    display: flex;
    width: 50px;
    height: 50px;

    &--tel::before {
      top: 16px;
      left: 16px;
    }

    &--email::before {
      top: 18px;
      left: 16px;
    }
  }
}
