.user-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 270px;
  background-color: @bgcolor--card;
  border-radius: 10px;

  &--catalog {
    position: relative;
    align-items: flex-start;
    border-radius: 20px;
    padding: 20px;
  }
}

.user-card__link {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.user-card__image {
  border-radius: 10px 10px 0 0;

  &--catalog {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
  }
}

.user-card__name {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: @txtcolor--name;

  &::before {
    content: "";
    position: relative;
    display: block;
    top: 14px;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: @bgcolor--online;
  }

  &--active::before {
    background-color: @bgcolor--offline;
  }

  &--catalog {
    width: 100px;
    text-align: start;
    margin-top: -10px;

    &::before {
      top: 15px;
      left: 130px;
      width: 6px;
      height: 6px;
    }
  }
}

.user-card__country-list {
  .list-reset;
  display: flex;
  justify-content: center;

  &--catalog {
    flex-direction: column;
    justify-content: center;
    order: 1;
  }
}

.user-card__country-flag {
  min-width: 35px;
  height: 24px;
  font-size: 0;
  margin-right: 19px;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }

  &--catalog {
    font-family: @default-font;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: @txtcolor--country;
    text-transform: uppercase;
  }
}

.user-card__tags {
  margin: 0;
  padding: 0;
  width: 200px;
  font-family: @default-font;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: @txtcolor--invert-description;

  &--catalog {
    text-align: left;
    margin-bottom: 20px;
  }
}

.user-card__transport-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  order: 1;
  margin-bottom: 20px;
}

.user-card__transport-list {
  .list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}

.user-card__transport-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: @bgcolor--transport;
  border-radius: 50%;

  &--catalog {
    background-color: @bgcolor--transport-icon;
  }
}

.user-card__transport {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  min-width: 17px;
  height: 21px;
  background-repeat: no-repeat;
  opacity: 15%;

  &--active {
    opacity: 100%;
  }

  &--air {
    width: 19px;
    background-image: url("../img/plane.svg");
  }

  &--bus {
    background-image: url("../img/bus.svg");
  }

  &--bike {
    width: 24px;
    background-image: url("../img/bike.svg");
  }

  &--run {
    width: 20px;
    background-image: url("../img/run.svg");
  }

  &--bus-catalog {
    min-width: 13px;
    height: 16px;
  }

  &--air-catalog {
    width: 14px;
    height: 16px;
  }

  &--bike-catalog {
    width: 19px;
    height: 16px;
  }

  &--run-catalog {
    width: 15px;
    height: 16px;
  }
}

.user-card__level {
  position: absolute;
  top: 16px;
  left: 17px;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  border: solid 3px @color-circle--level;
  background-color: @bgcolor--level;
  border-radius: 50%;

  &::before {
    content: "";
    position: relative;
    top: 32px;
    left: 11px;
    display: block;
    width: 31px;
    height: 1px;
    opacity: 0.3;
    background-color: @color-line--level;
  }

  &--catalog {
    position: relative;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: @bgcolor--level-icon;

    &::before {
      display: none;
    }
  }
}

.user-card__level-count {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: @txtcolor--base;
  margin-top: 2px;

  &--catalog {
    position: relative;
    top: 8px;
    line-height: 0.75;
    color: @txtcolor--level;
  }
}

.user-card__level-text {
  margin: 0;
  padding: 0;
  font-family: @default-font;
  font-size: 14px;
  text-align: center;
  color: @txtcolor--base;
  margin-top: -5px;

  &--catalog {
    display: none;
  }
}

.user-card__sign {
  margin: 0;
  padding: 0;

  &--catalog {
    font-family: @default-font;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
    color: @txtcolor--invert;
    margin-bottom: 20px;
    text-transform: lowercase;
    order: 1;
  }
}

.user-card__distance {
  margin: 0;
  padding: 0;

  &--catalog {
    position: absolute;
    top: 65px;
    left: 110px;
    font-family: @default-font;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: @txtcolor--name;
  }
}

.user-card__button {
  width: 230px;
  min-height: 40px;
  order: 1;
}

@media (min-width: @tablet-width) {
  .user-card {
    width: 285px;
    border-radius: 20px;

    &--catalog {
      width: 688px;
      height: 332px;
      flex-wrap: wrap;
      padding: 35px;
    }
  }

  .user-card__image {
    width: 285px;
    border-radius: 20px 20px 0 0;

    &--catalog {
      width: 190px;
      height: 190px;
      border-radius: 20px;
    }
  }

  .user-card__country-list--catalog {
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    bottom: 20px;
    left: 36px;
  }

  .user-card__country-flag--catalog {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 30px;
  }

  .user-card__transport-level {
    flex-direction: column;
    position: relative;
    right: -30px;
  }

  .user-card__sign--catalog {
    margin-left: -140px;
  }

  .user-card__level--catalog {
    width: 60px;
    height: 60px;

    &::before {
      display: block;
      background-color: @txtcolor-tab--level;
      top: 34px;
    }
  }

  .user-card__level-text--catalog {
    display: block;
    position: relative;
    top: 20px;
    color: @txtcolor-tab--level;
  }

  .user-card__name {
    font-size: 24px;
    margin-bottom: 20px;

    &::before {
      width: 7px;
      height: 7px;
    }

    &--catalog {
      min-width: 200px;
      font-size: 30px;

      &::before {
        top: 20px;
        left: 210px;
      }
    }
  }

  .user-card__tags {
    width: 230px;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 25px;

    &--catalog {
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }

  .user-card__transport-list {
    &-catalog {
      flex-direction: column;
      margin-bottom: 13px;
    }
  }

  .user-card__transport-item--catalog {
    background-color: inherit;
  }

  .user-card__transport {
    &--bus-catalog {
      min-width: 17px;
      height: 21px;
    }

    &--air-catalog {
      width: 19px;
      height: 21px;
    }

    &--bike-catalog {
      width: 24px;
      height: 21px;
    }

    &--run-catalog {
      width: 20px;
      height: 21px;
    }
  }

  .user-card__distance--catalog {
    top: 190px;
    left: 465px;
    font-size: 20px;
  }

  .user-card__button {
    width: 148px;
    height: 50px;
    position: absolute;
    top: 180px;
    left: 260px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .user-card--catalog {
    width: 950px;
    height: 285px;
    padding: 0;
  }

  .user-card__image--catalog {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
  }

  .user-card__button {
    width: 148px;
    height: 50px;
    left: 350px;
  }

  .user-card__country-list--catalog {
    flex-direction: column;
    bottom: 120px;
    left: 730px;
  }

  .user-card__country-flag--catalog {
    margin-bottom: 15px;
  }

  .user-card__transport-level {
    flex-direction: row;
    right: -180px;
    top: -20px;
  }

  .user-card__sign--catalog {
    display: none;
  }

  .user-card__name--catalog {
    &::before {
      width: 7px;
      height: 7px;
      left: -25px;
    }
  }

  .user-card__tags--catalog {
    margin-top: 0;
    margin-left: -155px;
    margin-bottom: -50px;
  }

  .user-card__transport-list {
    flex-direction: row;
    margin-bottom: 0;
  }

  .user-card__distance--catalog {
    left: 550px;
  }
}
